<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to Organisers Login Page</h2>
        <form action="/login_submit_org", method = 'POST'>
            <div class="form-group">
                <label for="id_org">ID:</label>
                <input type="text" id="id_org" name="id_org" required>
            </div>
            <div class="form-group">
                <label for="password_org">Password:</label>
                <input type="password" id="password_org" name="password_org" required>
            </div>
            <div class="form-group">
                <label for="email_org">Email:</label>
                <input type="email" id="email_org" name="email_org" required>
            </div>
            <button type="submit">Sign In</button>
        </form>
        <form action="#" method="POST" id="redirectForm">
            <button type="submit" name="redirect" value="login_org_back">Back</button>
        </form>
    </div>

    <script>
        document.getElementById('redirectForm').addEventListener('submit', function(event) {
            var redirectType = event.submitter.value;
            if (redirectType === 'login_org_back') {
                this.action = "{{ url_for('login_org_back') }}";
            }
        });
    </script>
</body>
</html>