<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Welcome, Admin!</h2>
        <p>Here are the available options for you:</p>
        <a href = '/std_list' class = 'btn btn-primary'>List of Students</a>
        <a href = '/ext_list' class = 'btn btn-primary'>List of Externals</a>
        <a href = '/part_list' class = 'btn btn-primary'>List of Participants</a>
        <a href = '/vol_list' class = 'btn btn-primary'>List of Volunteers</a>
        <a href = '/org_list' class = 'btn btn-primary'>List of Organisers</a>
        <a href = '/event_list' class = 'btn btn-primary'>List of Events</a>
        <a href = '/add_user' class = 'btn btn-primary'>Add User</a>
        <a href = '/logout' class = 'btn btn-primary'>Logout</a>
    </div>
</body>
</html>