<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>External Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to External Signup Page</h2>
        <form action="/signup_submit_ext", method = 'POST'>
            <div class="form-group" id="name_ext">
                <label for="name_ext">Name:</label>
                <input type="text" id="name_ext" name="name_ext" required>
            </div>
            <div class="form-group" id="email_ext">
                <label for="email_ext">Email:</label>
                <input type="email" id="email_ext" name="email_ext" required>
            </div>
            <div class="form-group" id="password_ext">
                <label for="password_ext">Password:</label>
                <input type="password" id="password_ext" name="password_ext" required>
            </div>
            <div class="form-group" id="college_name_ext">
                <label for="college_name_ext">College Name:</label>
                <input type="text" id="college_name_ext" name="college_name_ext" required>
            </div>
            <button type="submit">Sign In</button>
        </form>
        <form action="#" method="POST" id="redirectForm">
            <button type="submit" name="redirect" value="signup_ext_back">Back</button>
        </form>
    </div>

    <script>
        document.getElementById('redirectForm').addEventListener('submit', function(event) {
            var redirectType = event.submitter.value;
            if (redirectType === 'signup_ext_back') {
                this.action = "{{ url_for('signup_ext_back') }}";
            }
        });
    </script>
</body>
</html>
